.grass {
    background: linear-gradient(0deg, rgb(161, 212, 134) 0%, rgba(206, 229, 202, 1) 100%);
    border: 1px solid rgb(161, 212, 134);
}

.poison {
    background: linear-gradient(0deg, rgba(148, 117, 163, 1) 0%, rgba(212, 196, 219, 1) 100%);
    border: 1px solid rgb(148, 117, 163);
}

.fire {
    background: linear-gradient(0deg, rgba(219, 122, 118, 1) 0%, rgba(246, 195, 193, 1) 100%);
    border: 1px solid rgba(219, 122, 118, 1);
}

.normal {
    background: linear-gradient(0deg, #8c8e90 0%, #b5bbbd 100%);
    border: 1px solid black;
}

.ground {
    background: linear-gradient(0deg, rgba(171, 152, 66, 1) 0%, rgba(247, 222, 63, 1) 100%);
    border: 1px solid rgba(171, 152, 66, 1);
}

.flying {
    background: linear-gradient(0deg, rgba(189, 185, 184, 1) 0%, rgba(61, 199, 239, 1) 100%);
    border: 1px solid rgba(189, 185, 184, 1);
}

.bug {
    background: linear-gradient(0deg, rgb(134, 186, 106) 0%, rgb(162, 203, 154) 100%);
    border: 1px solid rgb(161, 212, 134);
}

.electric {
    background: linear-gradient(0deg, rgba(240, 210, 119, 1) 0%, rgba(255, 239, 193, 1) 100%);
    border: 1px solid rgb(239, 210, 117);
}

.water {
    background: linear-gradient(0deg, rgb(46, 140, 167) 0%, rgba(61, 199, 239, 1) 100%);
    border: 1px solid rgb(46, 140, 167);
}

.fairy {
    background: linear-gradient(0deg, rgba(222, 180, 193, 1) 0%, rgba(247, 207, 211, 1) 100%);
    border: 1px solid rgba(222, 180, 193, 1);
}

.fighting {
    background: linear-gradient(0deg, rgb(213, 103, 35) 0%, rgb(248, 152, 88) 100%);
    border: 1px solid rgb(213, 103, 35);
}

.psychic {
    background: linear-gradient(0deg, rgb(243, 102, 185) 0%, rgb(239, 163, 217) 100%);
    border: 1px solid rgb(243, 102, 185);

}

.rock {

    background: linear-gradient(0deg, rgb(114, 100, 29) 0%, rgb(231, 211, 112) 100%);
    border: 1px solid rgb(114, 100, 29);
}

.steel {

    background: linear-gradient(0deg, rgb(158, 183, 184) 0%, rgb(207, 224, 224) 100%);
    border: 1px solid rgb(158, 183, 184);
}

.ice {
    background: linear-gradient(0deg, rgb(81, 196, 231) 0%, rgb(163, 231, 252) 100%);
    border: 1px solid rgb(81, 196, 231);
}

.ghost {

    background: linear-gradient(0deg, rgb(123, 98, 163) 0%, rgb(206, 182, 243) 100%);
    border: 1px solid rgb(123, 98, 163);
}

.dragon {
    background: linear-gradient(0deg, rgba(241, 110, 87, 1) 0%, rgba(83, 164, 207, 1) 100%);
    border: 1px solid rgba(241, 110, 87, 1);
}

.dark {
    background: linear-gradient(0deg, rgb(112, 112, 112) 0%, rgb(163, 163, 163) 100%);
    border: 1px solid rgb(112, 112, 112);
    color: white;
}

.unknown {
    background: red;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    color: black;
    text-shadow: white 0 0 4px;
}

.shadow {
    background: linear-gradient(0deg, rgb(69, 69, 69) 0%, rgb(108, 108, 108) 100%);
    border: 1px solid rgb(69, 69, 69);
    color: white;
}

.all {
    background: #fff8cd;
    border: 1px solid rgb(69, 69, 69);

}

.PokemonsContainerWrapper {
    display: flex;
    justify-content: center;

}

.PokemonsContainer {
    width: 80%;
}

.pokemonCard {
    min-width: 100px;
    border: 1px solid #ff9642;
    background: #ffe05d;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: -2;
}

.pokemonCard img {
    width: 150px;
}

.pokemonsBlock {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

.pokemonsListBlock {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.pokemonInfoBlock {
}

.pokemonInfoCard {
    right: 13%;
    font-size: 20px;
    position: fixed;
    min-width: 30vw;
    background: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    z-index: -1;
    margin-top: 80px;
}

.pokemonInfoCard table {
    width: 90%;
    background: #fff8cd;
    border-spacing: 0px;
    margin: 5px;
    border-top: 1px solid black;
}

td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid black;
    border-left: none;
    border-top: none;
}

td:first-child {
    border-left: 1px solid black;

}

th:first-child {
    border-top: 1px solid black;
}

.pokemonInfoCard img {
    width: 250px;

}

.pokemonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemonsListBlockButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    background: #008cff;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid gray;
    margin: 10px;
}

.types {
    display: flex;
    flex-direction: row;
}

.type {
    text-align: center;
    border-radius: 7px;
    padding: 0px 10px 3px 10px;
    margin: 2px 5px;
}

.pokemonNameInfo {
    font-size: 32px;
    font-weight: 500;
}

.pokemonNameCard {
    font-weight: 500;
    margin-top: 5px;
}


@media screen and (max-width: 450px) and (min-width: 0px) {
    .pokemonsContainer {
        grid-template-columns: 50%;
    }

    .pokemonsBlock {
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .pokemonInfoCard {
        width: 45vw;
        right: 5%;
        font-size: 12px;
    }

    .pokemonInfoCard img {
        width: 120px;
    }

    .pokemonCard img {
        width: 100px;
    }

    .types {
        flex-direction: column;
    }

    .pokemonNameInfo {
        font-size: 18px;
    }

    .type {
        font-size: 12px;
    }

    .PokemonsContainer {
        width: 100%;
    }

    .pokemonsContainer {
        margin-top: 60px;
    }

    .pokemonsListBlockButton {
        width: 80%
    }


}

@media screen and (max-width: 670px) and (min-width: 451px) {
    .pokemonsContainer {
        grid-template-columns: 50%;
    }

    .pokemonsBlock {
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .pokemonInfoCard {
        width: 45vw;
        right: 5%;
        font-size: 12px;
    }

    .pokemonInfoCard img {
        width: 120px;
    }

    .pokemonCard img {
        width: 100px;
    }

    .types {
        flex-direction: column;
    }

    .pokemonNameInfo {
        font-size: 18px;
    }

    .PokemonsContainer {
        width: 100%;
    }

    .dropbtn {
        margin: 0;
    }

    .pokemonsContainer {
        margin-top: 60px;
    }

    .pokemonsListBlockButton {
        width: 90%
    }
}

@media screen and (max-width: 1220px) and (min-width: 671px) {
    .pokemonsContainer {
        grid-template-columns: 1fr 1fr;
    }

    .types {
        flex-direction: column;
    }

    .pokemonInfoCard {
        font-size: 16px;
    }

    .pokemonInfoCard img {
        width: 150px;
    }

    .pokemonCard img {
        width: 100px;
    }

    .pokemonNameInfo {
        font-size: 24px;
    }

    .pokemonsListBlockButton {
        width: 90%
    }
}

@media (max-width: 1450px) and (min-width: 901px) {
    .types {
        flex-direction: column;
    }

    .pokemonInfoCard {
        font-size: 16px;
    }

    .pokemonInfoCard img {
        width: 150px;
    }

    .pokemonCard img {
        width: 120px;
    }
}

.dropbtn {
    background-color: coral;
    color: #fff8cd;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px 0px 0px 20px;
    border-radius: 4px;
}

.dropdownWrapper {
    left: 0;
    position: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;

}

.dropdownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff8cd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 0;
    margin-left: 20px;
    padding: 10px;
    outline: none;

}

.dropdownContent div {
    padding: 6px 8px;
    display: block;
    margin: 5px;
    border-radius: 10px;
}

.dropdown div div:hover {
    cursor: pointer;

}

.dropdown:hover .dropdownContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 3;
    width: 250px;
}

.dropdown:hover .dropbtn {
    background-color: #e84d13;
}

.noPokemons {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 4vw;
    border: 1px solid #ff7f50;
    background: rgba(255,127,80,0.5);
    padding: 10px;
}