.pokemonCard {
    width: 100px;
    height: 170px;
    border: 1px solid deeppink;
    background: rgba(147, 78, 92, 0.4);
}

.pokemonCard img {
    width: 100px;
    height: 100px;
}

.pokemonsBlock {
    display: flex;
    flex-direction: row;
}

.pokemonInfoCard {
    right: 0;
    font-size: 20px;
    position: fixed;
    width: 200px;
    height: 260px;
}
.pokemonInfoCard img{
    width: 200px;
    height: 200px;
}
